body {
	padding: 0;
	margin: 0;
	background: #eee;
}

p,
h2,
h3,
h6 {
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	display: block;
}

.clear {
	zoom: 0;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

input {
	outline: none;
	border: none;
	background: none;
}

img {
	border: none;
}

@font-face {
	font-family: 'raleway_normal';
	src: local('raleway_normal'), url('../font/raleway_normal.woff2') format('woff2');
}

@font-face {
	font-family: 'fontawesome';
	src: local('fontawesome'), url('../font/fontawesome.woff') format('woff');
}

* {
	font-family: 'raleway_normal';
}

@-webkit-keyframes change {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes change {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*public*/

.nav_warp {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 20px;
	background: rgba(51, 51, 51, 0);
	z-index: 999;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.nav_warp_1 {
	top: 0;
	background: rgba(51, 51, 51, 0.9);
}

.nav {
	margin: 0 90px;
	padding: 8px 0;
	position: relative;
	-webkit-transition:  padding-top .5s, padding-bottom .5s;
	-moz-transition:  padding-top .5s, padding-bottom .5s;
	-o-transition:  padding-top .5s, padding-bottom .5s;
	transition: padding-top .5s, padding-bottom .5s;
}
.nav:hover .sm_ul{
	left: -90px;
} 
.nav_1 {
	padding: 0;
}

.nav a img {
	margin-top: 16px;
}

.input {
	width: 15px;
	display: block;
	margin-top: 26px;
	margin-left: 25px;
	background: url(../img/search.png) no-repeat;
}

.input1 {
	width: 96%;
	height: 100%;
	font-size: 24px;
	padding: 0 2%;
	margin-top: 0;
	margin-left: 0;
	display: block;
	background: #fff;
	position: absolute;
	z-index: 1;
}

.sm_ul {
	text-align: center;
	background: rgba(51,51,51,0.9);
	position: absolute;
	left: -500px;
}

.nav .sm_ul li {
	float: none;
	position: relative;
	
}

.sm_ul .sub_list,
.sm_ul .sub_warp{
	position: absolute;
	left: 20px;
	top:0px;
	display: none;

}

.sm_ul .nav_list:hover .sub_list,
.sm_ul .nav_list:hover .sub_warp{
	display: block;
	left: 100%;
	
}

.nav_list_warp{
	float: right;
}
.nav_list {
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	font-weight: 600;
	color: #fff;
	padding: 18px 25px;
	float: left;
}

.nav_list>a:after {
	margin: 5px auto;
	background: #fff;
	height: 2px;
	width: 0%;
	content: "";
	display: block;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	position: relative;
}

.nav_list:hover a:after {
	width: 100%;
}

.sub_list li,
.sub_warp li {
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-indent: 33px;
	border: 1px solid #333333;
	background: #222222;
	color: #555555;
}

.nav_list_warp .sub_list,
.nav_list_warp .sub_warp {
	visibility: hidden;
	position: absolute;
	top: 150px;
	opacity: 0;
	filter:Alpha(opacity=0);
	-webkit-transition:all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.sub_warp {
	left: 20%;
}

.nav_list_warp  .nav_list:hover .sub_list,
.nav_list_warp  .nav_list:hover .sub_warp {
	visibility: visible;
	opacity: 1;
	filter:Alpha(opacity=100);
	top: 84px;
}

.sub_list li:hover,
.sub_warp li:hover {
	background: #333333;
}


/*滑屏*/

.slider {
	width: 100%;
	height: auto;
	position: relative;
}

.slider_warp {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	position: relative;
}

.btn_l,
.btn_r {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.btn_l {
	left: 20px;
	z-index: 3;
}

.btn_r {
	right: 20px;
	z-index: 3;
}

.slider .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.slider_warp li {
	width: 100%;
	height: 100%;
	display: block;
	z-index: 2;
}

.slider h3,
.slider p,
.slider span,
.slider i {
	width: auto;
	height: auto;
	color: #fff;
	text-align: center;
	display: block;
	margin: 0px auto;
}


.slider span {
	width: 15%;
	vertical-align: middle;
	padding-top: 5%;
}

.slider span a {
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #fff;
	margin: 0px auto;
	position: relative;
}

.slider span b {
	width: 100%;
	height: 100%;
	padding: 10px;
	font-weight: normal;
	display: block;
	padding: 10px 0;
	position: relative;
	z-index: 1;
}

.slider_0 h3 {
	padding-top: 5%;
}
.slider_0 p {
	padding-top: 15%;
	word-spacing: -50px;
}

.slider_0 span i {
	width: 0%;
	height: 100%;
	display: inline-block;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition:  width 0.5s;
	transition: width 0.5s;
	z-index: 0;
}

.slider_0 span a:hover i {
	width: 100%;
}

.slider_0 span a:hover {
	color: #333333;
}


.slider_1 i {
	padding-top: 5%;
}
.slider_1 p {
	padding-top: 10%;
	word-spacing: -50px;
}
.slider_1 h3 {
	padding-top: 20%;
}
.slider_1 span {
	padding-top: 0%;
}
.slider_1 span b {
	width: 100%;
	height: 100%;
	font-weight: normal;
	display: inline-block;
	padding-top: 10px;
}

.slider_1 span a:hover {
	color: #f4a70d;
}

.slider_2 h3 {
	padding-top: 5%;
}
.slider_2 p {
	padding-top: 15%;
	word-spacing: -50px;
}

.slider_2 span i {
	width: 0%;
	height: 100%;
	display: inline-block;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition:  width 0.5s;
	transition: width 0.5s;
	z-index: 0;
}

.slider_2 span a:hover i {
	width: 100%;
}

.slider_2 span a:hover {
	color: #333333;
}

.slider_3 i {
	padding-top: 5%;
}

.slider_3 p {
	font-size: 100%;
	padding-top: 10%;
	word-spacing: -50px;
}
.slider_3 span {
	width: 100%;
	padding-top: 0%;
}

/*slider*/

.video {
	width: 100%;
	height: auto;
	background: #fff;
}

.video_warp {
	margin: 0 auto;
	text-align: center;
}

.media {
	width: 514px;
	height: 280px;
	margin: 87px 0px 55px 0px;
	display: inline-block;
}

.text {
	width: 556px;
	height: 280px;
	text-align: left;
	margin: 87px 0px 55px 70px;
	display: inline-block;
}

.text h3 {
	font-size: 27px;
	font-weight: 600;
	color: #333;
}

.text h3:after {
	content: "";
	width: 20px;
	height: 3px;
	display: block;
	background: #333333;
	margin-top: 20px;
}

.text p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #666;
	margin-top: 20px;
}

.text a {
	width: 164px;
	height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
	border: 1px solid #343434;
	margin-top: 36px;
	position: relative;
}

.text span {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.text a i {
	content: "";
	width: 0%;
	height: 50px;
	display: block;
	background: #333333;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition:  width 0.5s;
	transition: width 0.5s;
}

.text a:hover i {
	width: 100%;
}

.text a:hover span {
	color: #fff;
}

.ins {
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}

.ins_warp {
	text-align: center;
}

.ins_content {
	width: 332px;
	height: 332px;
	display: inline-block;
	border-radius: 50%;
	color: #333;
	text-align: center;
	background: #f5f5f5;
	margin: 50px 24px 40px;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.ins_content img {
	margin-top: 55px;
}

.ins_content h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	color: #333;
	margin: 26px 0 6px;
}

.ins_content p {
	font-size: 14px;
	line-height: 25px;
	font-weight: 400px;
	padding: 12px 12%;
}

.ins_content:hover {
	background: #e57368;
}

.ad_banner {
	width: 100%;
	height: 200px;
	text-align: center;
	color: #fff;
}

.ad_banner h6 {
	font-size: 20px;
	font-weight: 600px;
	line-height: 24px;
	padding: 72px 0 48px;
	display: block;
}

.ad_banner h6:after {
	content: "";
	width: 20px;
	height: 3px;
	background: #fff;
	display: block;
	margin: 26px auto;
}

.ins2 {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../img/parallax.jpg) no-repeat;
	background-position: center 0px;
	background-size: cover;
	overflow: hidden;
	z-index: 0;
}

.ins2:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.7);
}

.ins2_warp {
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}

.ins2_content {
	width: 380px;
	height: 164px;
	display: inline-block;
	text-align: right;
	margin: 50px 0;
}

.ins2_content span {
	width: 48px;
	height: 48px;
	font-size: 22px;
	color: #fff;
	line-height: 48px;
	text-align: center;
	font-family: 'fontawesome';
	display: inline-block;
	border-radius: 50%;
}

.ins2_content .span1:before {
	content: "\f149";
}

.ins2_content .span2:before {
	content: "\f0ec";
}

.ins2_content .span3:before {
	content: "\f013";
}

.ins2_content .span4:before {
	content: "\f021";
}

.ins2_content .span5:before {
	content: "\f0eb";
}

.ins2_content .span6:before {
	content: "\f11b";
}

.ins2_content h6 {
	font-size: 17px;
	color: #333;
	font-weight: 600;
	line-height: 20px;
	padding: 23px 0 8px;
}

.ins2_content:hover h6 {
	color: #f1805f;
}

.ins2_content:hover span {
	-webkit-animation: change 2s linear infinite;
	animation: change 2s linear infinite;
}

.ins2_content p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	line-height: 25px;
	padding: 0 0 0 15%;
}

.rec {
	width: 100%;
	height: auto;
	background: #fff;
}

.rec_warp {
	padding: 90px 0 70px;
	text-align: center;
}

.items {
	width: 260px;
	height: 348px;
	display: inline-block;
	margin: 0 14px 0;
	position: relative;
}

.mask {
	width: 264px;
	height: 264px;
	line-height: 307px;
	text-align: center;
	background: rgba(0, 0, 0, 0);
	border-radius: 0%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: background-color, border-radius .5s;
	-moz-transition:  background-color, border-radius .5s;
	-o-transition:  background-color, border-radius .5s;
	transition: background-color, border-radius .5s;
}

.mask span {
	width: 0px;
	height: 0px;
	font-size: 0px;
	border-radius: 50%;
	font-family: 'fontawesome';
	text-align: center;
	line-height: 0px;
	color: #fff;
	display: inline-block;
	margin-left: 12px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all 0.5s;
	overflow: hidden;
}

.link1 {
	background: #6dd3d1;
}

.link2 {
	background: #fabc59;
}

.link1:before {
	width: 0px;
	height: 0px;
	display: inline-block;
	content: "\f07a";
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width 0.5s;
}

.link2:before {
	width: 0px;
	height: 0px;
	display: inline-block;
	content: "\f004";
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width 0.5s;
}

.sale {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background: #fabc59;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 10px;
}

.img_warp {
	width: 264px;
	height: 264px;
	background: url(../img/bestsellers2.jpg) no-repeat;
	background-size: cover;
}

.items h6 {
	width: 100%;
	height: 25px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.1;
	text-align: center;
	padding: 25px 0 2px;
}

.items p {
	width: 100%;
	height: 28px;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
}

.items:hover .mask {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.items:hover .sale {
	display: none;
}

.items:hover span {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	-webkit-animation: change 0.5s linear;
}

.items:hover span:before {
	width: 50px;
	height: 50px;
}

.rec_warp>a {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #000;
	display: block;
	margin: 74px auto 0;
	position: relative;
	overflow: hidden;
}

.rec_warp>a i {
	position: relative;
	z-index: 1;
}

.rec_warp>a span {
	width: 0;
	height: 166px;
	display: block;
	background: #333333;
	position: absolute;
	left: 90px;
	top: -58px;
	z-index: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all 0.5s;
}

.rec_warp>a:hover {
	color: #fff;
}

.rec_warp>a:hover span {
	width: 166px;
	left: 7px;
	top: -57px;
}

.award {
	width: 100%;
	height: 100%;
	background: url(../img/single-slider1.jpg) no-repeat;
	background-position: center -470px;
	background-size: cover;
}

.award_warp {
	padding: 144px 90px;
	position: relative;
	text-align: center;
}

.award .btn_l {}

.award .btn_r {}

.award_list {
	width: 100%;
	height: 90px;
	position: relative;
	z-index: 2;
}

.award_list li {
	width: 100%;
	height: 100%;
}

.award_list h6 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	letter-spacing: 5px;
}

.award_list span {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	margin: 2px 10% 0;
	padding: 3px 40px;
	display: inline-block;
	letter-spacing: 7px;
	border: 1px solid #fff;
}
.award .mask{
	width: 100%;
	height: 100%;
	background: rgba(51,51,51,0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.rec2 {
	width: 100%;
	position: relative;
}

.rec2_warp {
	width: 100%;
	height: 840px;
	margin: 0 auto;
	position: relative;
}

.rec2_content {
	overflow: hidden;
	text-align: center;
	float: left;
	position: absolute;
}

.rec2_content>* {
	display: block;
	position: absolute;
}

.rec2_warp .rec2_content:nth-child(1) {
	width: 50%;
	height: 33.3%;
	left: 0;
	top: 0;
}

.rec2_warp .rec2_content:nth-child(2) {
	width: 25%;
	height: 33.3%;
	left: 50%;
	top: 0;
}

.rec2_warp .rec2_content:nth-child(3) {
	width: 25%;
	height: 66.6%;
	left: 75%;
	top: 0;
}

.rec2_warp .rec2_content:nth-child(4) {
	width: 25%;
	height: 66.6%;
	left: 0;
	top: 33.3%;
}

.rec2_warp .rec2_content:nth-child(5) {
	width: 25%;
	height: 33.3%;
	left: 25%;
	top: 33.3%;
}

.rec2_warp .rec2_content:nth-child(6) {
	width: 25%;
	height: 33.3%;
	left: 50%;
	top:33.3%;
}

.rec2_warp .rec2_content:nth-child(7) {
	width: 25%;
	height: 33.3%;
	left: 25%;
	top: 66.6%;
}

.rec2_warp .rec2_content:nth-child(8) {
	width: 25%;
	height: 33.3%;
	left: 50%;
	top: 66.6%;
}

.rec2_warp .rec2_content:nth-child(9) {
	width: 25%;
	height: 33.3%;
	left: 75%;
	top: 66.6%;
}

.rec2_warp .rec2_content a {
	height: 100%;
	left: -10%;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
}

.rec2_content img {
	height: 100%;
}

.rec2_content span {
	width: 100%;
	height: 100%;
	top: 80px;
	background: rgba(0, 0, 0, 0);
	z-index: 1;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all 0.5s;
}

.rec2_content h6,
.rec2_content p {
	line-height: 1.1;
	color: #fff;
	left: 40px;
	z-index: 1;
	opacity: 0;
	filter:Alpha(opacity=0);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.rec2_content h6 {
	font-size: 17px;
	font-weight: 600;
	line-height: 30px;
	bottom: 0px;
}

.rec2_content p {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	bottom: 0px;
}

.rec2_content:hover span {
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
}

.rec2_content:hover h6 {
	bottom: 70px;
	opacity: 1;
	filter:Alpha(opacity=100);
}

.rec2_content:hover p {
	bottom: 40px;
	opacity: 1;
	filter:Alpha(opacity=100);
}

.rec2_content:hover a {
	height: 120%;
}

.blog {
	width: 100%;
}

.blog_warp {
	width: 100%;
	background: #fff;
}

.blog_warp h3 {
	display: block;
	color: #333333;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	padding: 100px 0 0;
	text-align: center;
}

.blog_warp h3:after {
	display: block;
	content: "";
	width: 20px;
	height: 3px;
	background: #000;
	margin: 20px auto;
}

.blog_items_warp {
	padding: 0 0 50px;
	text-align: center;
}

.blog_item {
	width: 358px;
	height: 470px;
	display: inline-block;
	border: 2px solid #eeeeee;
	margin: 30px 15px 0;
	/*float: left;*/
	position: relative;
}

.blog_item img {
	width: 360px;
	height: 360px;
}

.blog_item>a:after {
	content: "";
	width: 20px;
	height: 4px;
	background: #eee;
	display: block;
	margin: 0 auto;
	margin-top: 36px;
}

.blog_item>h6 {
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
	text-align: center;
}

.mask_warp {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-perspective: 1000;
}

.blog_mask {
	width: 358px;
	height: 400px;
	background: #eee;
	border: 1px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 68px;
	opacity: 0;
	filter:Alpha(opacity=0);
	-webkit-transform: rotateY(-35deg);
	-moz-transform: rotateY(-35deg);
	-o-transform: rotateY(-35deg);
	transform: rotateY(-35deg);
	-webkit-transform-origin: 0 center 0;
	-moz-transform-origin: 0 center 0;
	-o-transform-origin: 0 center 0;
	transform-origin: 0 center 0;
	-webkit-transition: opacity 0.5s, transform 0.5s;
	-moz-transition: opacity 0.5s, transform 0.5s;
	-o-transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.blog_item:hover .blog_mask {
	opacity: 1;
	filter:Alpha(opacity=100);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.blog_mask>* {
	display: block;
	background: #fff;
	padding: 0 40px;
}

.blog_mask h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	text-align: left;
	padding-top: 34px;
	padding-bottom: 10px;
}

.blog_mask span {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	padding-bottom: 18px;
	color: #bababa;
}

.blog_mask p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	padding-bottom: 30px;
}

.blog_mask i {
	height: 138px;
	text-align: center;
	color: #f1805f;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	margin: 0;
}

.parrent {
	width: 100%;
	height: 100%;
	background: #eee;
}

.parrent_warp {
	padding: 126px 105px 55px;
}

.parrent_list {
	height: 160px;
	overflow: hidden;
	position: relative;
}

.parrent_list li {
	width: 190px;
	height: 160px;
	text-align: center;
	position: absolute;
	background-position: 5px 5px;
}

.parrent_list li:nth-child(1) {
	left: 0;
}

.parrent_list li:nth-child(2) {
	left: 190px;
}

.parrent_list li:nth-child(3) {
	left: 380px;
}

.parrent_list li:nth-child(4) {
	left: 570px;
}

.parrent_list li:nth-child(5) {
	left: 760px;
}

.parrent_list li:nth-child(6) {
	left: 950px;
}

.parrent_list li:nth-child(7) {
	left: 1140px;
}

.parrent_list li:nth-child(8) {
	left: 1330px;
}

.parrent_list li:nth-child(9) {
	left: 1520px;
}

.parrent_list li:nth-child(10) {
	left: 1710px;
}

.footer {
	width: 100%;
	background: #000;
	color: #fff;
}

.footer_warp {
	text-align: center;
	padding: 50px 90px 78px;
}

.footer_warp ul {
	display: inline-block;
}

.footer_warp li {
	width: 262px;
	height: 328px;
	text-align: left;
	float: left;
	padding: 0 15px;
}

.footer_warp h6 {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	padding: 20px 0 26px;
}

.footer_warp p {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.contect p {
	line-height: 35px;
}

.contect span {
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: "fontawesome";
	display: inline-block;
	margin-left: 8px;
	margin-top: 15px;
	background: #6DD3D1;
	border-radius: 50%;
}

.contect span:nth-child(3):before {
	content: "\f09a";
}

.contect span:nth-child(4):before {
	content: "\f099";
}

.contect span:nth-child(5):before {
	content: "\f0d5";
}

.contect span:hover {
	background: #f1805f;
}

.posts {
	width: 100%;
	height: 100%;
}

.post_warp img {
	width: 70px;
	height: 70px;
	display: block;
	float: left;
	padding-bottom: 8px;
	padding-top: 6px;
}

.post_warp p {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	padding-top: 6px;
	text-indent: 10px;
}

.post_warp:hover p {
	color: #428bca;
}

.post_warp span {
	display: inline-block;
	font-size: 14px;
	font-weight: 200;
	line-height: 24px;
	padding-top: 6px;
	text-indent: 10px;
}

.pro {
	width: 70px;
	height: 70px;
	float: left;
	padding: 0 5px 5px 0;
}

.pro img {
	width: 70px;
	height: 70px;
}